@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container-bio {
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    color: honeydew;
    height: auto;
    background-color: navy;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}